#button{
    width: 400px;
    padding: 7px ;
    height:40px;
}
#buttonSingup{
width: 400px;
height:40px;
}
#button1 {
width: 400px;
padding-top: 7px ;
background-color:#1890FF;
color: white;
height:40px;
}
#finalForm{
    width: 400px;
}
#form1Example13{
    width: 400px;
}
.messageInfo{
    font-size: 30px;
}
.imageR{
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}
.vh-100{
    padding-top: 0%;
}